@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Customer1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Customer2</a></li>
        <li><a href="#">Customer3</a></li>
        <li><a href="#">Customer4</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Employee1</a></li>
        <li><a href="#">Employee2</a></li>
        <li><a href="#">Employee3</a></li>
        <li><a href="#">Employee4</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Order1</a></li>
        <li><a href="#">Order2</a></li>
        <li><a href="#">Order3</a></li>
        <li><a href="#">Order4</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Products1</a></li>
        <li><a href="#">Products2</a></li>
        <li><a href="#">Products3</a></li>
        <li><a href="#">Products4</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Shipper1</a></li>
        <li><a href="#">Shipper2</a></li>
        <li><a href="#">Shipper3</a></li>
        <li><a href="#">Shipper4</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">Supplier1</a></li>
        <li><a href="#">Supplier2</a></li>
        <li><a href="#">Supplier3</a></li>
        <li><a href="#">Supplier4</a></li>
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    @RenderBody()
</div>
